/*table
    width 100%
    margin 0 auto
    margin-top 5em
    border-collapse collapse

td
    width 30%
    border 6px solid #222
    border-spacing 0
    &::after
        content ''
        display block
        margin-top 100%
    &:first-of-type
        border-left-color black
        border-top-color black
    &:nth-of-type(2)
        border-top-color black
    &:nth-of-type(3)
        border-right-color black
        border-top-color black

tr
    &:nth-of-type(3)
        td
            border-bottom-color black

#container
    max-width 600px
    margin 0 auto*/

body, html
    height 100%
    font-size 100%

.button-wrapper
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    background #76b852
    padding-bottom 10px

button
    font 1.3rem 'Futura', sans-serif
    padding 10px
    margin-top 10px
    cursor pointer
    border none
    background white
    color black
    font-family 'Futura', sans-serif
    -webkit-transition background 0.3s ease-in-out
    transition background 0.3s ease-in-out
    &:hover
        background lightgreen

ul
    list-style none
    min-height 100%
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    -webkit-box-align center
    -ms-flex-align center
    align-items center
    background #76b852
    padding-top 20px

.sortable
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -ms-flex-flow column nowrap
    flex-flow column nowrap
    padding-bottom 20px
    width calc(25% - 40px)
    -webkit-transition opacity 0.3s ease-in-out
    transition opacity 0.3s ease-in-out

.hidden
    opacity 0

.fake-image, .rating
    width 100%
    text-align center
    background white
.fake-image
    font-size 7rem
    color #76b852
    padding-top 10px

.rating
    font 1.7rem "Futura", sans-serif
    color black

@media only screen and (max-width: 768px)
	.sortable
	        width calc(50% - 20px)

@media only screen and (max-width: 480px)
    .sortable
        width 100%