@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html
    height 100%
    font-size 100%

.button-wrapper
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    -moz-osx-font-smoothing: grayscale;  
    /*background: #76b852; 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    //CHANGE
    background-image: url(https://cdn.dribbble.com/users/247591/screenshots/2056282/btr-icon-pattern.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;        padding-bottom 10px

button
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #379E51;
    width: 25%;
    border: 0; 
    //CHANGE
    border-radius: 15px
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top 10px
    cursor pointer
    border none
    -webkit-transition background 0.3s ease-in-out
    transition background 0.3s ease-in-out
    &:hover
        background dimgray

ul
    list-style none
    min-height 100%
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    -webkit-box-align center
    -ms-flex-align center
    align-items center
    /*background: #76b852; 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    //CHANGE
    background-image: url(https://cdn.dribbble.com/users/247591/screenshots/2056282/btr-icon-pattern.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    padding-top 20px

.sortable
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -ms-flex-flow column nowrap
    flex-flow column nowrap
    padding-top 90px
    padding-bottom 90px
    width calc(25% - 40px)
    height calc(25% - 40px)
    -webkit-transition opacity 0.3s ease-in-out
    transition opacity 0.3s ease-in-out
    // 256x256
    background-image: url(https://cdn1.iconfinder.com/data/icons/film-elements/154/film-frame-256.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  

.hidden
    opacity 0

.fake-image, .rating
    width 100%
    text-align center
    border-radius: 15px
.fake-image
    font-size 7rem
    padding-top 10px

.rating
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color white
    
@media only screen and (max-width: 768px)
    .sortable
            width calc(50% - 20px)

@media only screen and (max-width: 480px)
    .sortable
        width 100%

