@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html
    height 100%
    font-size 100%

.button-wrapper
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    -moz-osx-font-smoothing: grayscale;  
    /*background: #76b852; 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    //CHANGE
    background-image: url(https://cdn.dribbble.com/users/247591/screenshots/2056282/btr-icon-pattern.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;        padding-bottom 10px

button
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #379E51;
    width: 25%;
    border: 0; 
    //CHANGE
    border-radius: 15px
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top 10px
    cursor pointer
    border none
    -webkit-transition background 0.3s ease-in-out
    transition background 0.3s ease-in-out
    &:hover
        background dimgray

ul
    list-style none
    min-height 100%
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient horizontal
    -webkit-box-direction normal
    -ms-flex-flow row wrap
    flex-flow row wrap
    -ms-flex-pack distribute
    justify-content space-around
    -webkit-box-align center
    -ms-flex-align center
    align-items center
    /*background: #76b852; 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    //CHANGE
    background-image: url(https://cdn.dribbble.com/users/247591/screenshots/2056282/btr-icon-pattern.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    padding-top 20px

.sortable
    display -webkit-box
    display -ms-flexbox
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -ms-flex-flow column nowrap
    flex-flow column nowrap
    padding-top 90px
    padding-bottom 90px
    width calc(25% - 40px)
    height calc(25% - 40px)
    -webkit-transition opacity 0.3s ease-in-out
    transition opacity 0.3s ease-in-out
    // 256x256
    background-image: url(https://cdn1.iconfinder.com/data/icons/film-elements/154/film-frame-256.png)
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  

.hidden
    opacity 0

.fake-image, .rating
    width 100%
    text-align center
    border-radius: 15px
.fake-image
    font-size 7rem
    padding-top 10px

.rating
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color white
    
@media only screen and (max-width: 768px)
    .sortable
            width calc(50% - 20px)

@media only screen and (max-width: 480px)
    .sortable
        width 100%

form
    width 10px
    height 40px
    margin 10px auto 0
    position relative
    .submit
        background dimgray
        cursor pointer
        box-shadow 0px 5px #8DC26F,
        0px 8px 10px rgba(0, 0, 0, 0.5)
    #search
        -webkit-appearance none
        height 35px
        width 0
        position absolute
        padding 0
        opacity 0
        border none
        outline none
        position absolute
        right 35px
        box-shadow 0px 5px #8DC26F,
        0px 8px 10px rgba(0, 0, 0, 0.5)

#submit
    display none

form .icon, form .submit
    width 35px
    height 35px
    background: #379E51;
    display block
    position absolute
    top 0
    right 0
    box-shadow 0px 5px #8DC26F,
        0px 8px 10px rgba(0, 0, 0, 0.5)

form .icon:after, form .submit:after
    content ''
    position absolute
    width 8px
    height 8px
    border 2px solid white
    border-radius 50%
    left 10px
    top 9px

form .icon:before, form .submit:before
    content ''
    position absolute
    height 8px
    width 2px
    background white
    transform rotate(-35deg)
    top 19px
    left 21px  