.initial-message h1 {
    font-family 'Futura'
    opacity 0.7
    padding-bottom 0px
}


.initial-message {
    text-align center
    margin-right 50px
    margin-left 50px
    padding-left 50px
    padding-right 50px
}

.indexImg {
    width 500px
    height 300px
    float left
    margin-right: 50px;
}