@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body
  margin 0
  padding 0
  perspective 1px
  transform-style preserve-3d
  height 100%
  overflow-y scroll
  overflow-x hidden
  font-family "Roboto", sans-serif

h1
  font-size 250%
  font-family "Roboto", bold, sans-serif
    &.thick
      font-weight bold

.slide
  position relative
  padding 25vh 10%
  min-height 100vh
  width 100vw
  box-sizing border-box
  box-shadow 0 -1px 10px rgba(0, 0, 0, .7)

img.indexImg
  position absolute
  top 50%
  left 35%
  // width 320px
  // height 240px
  transform translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg)
  padding 10px
  border-radius 5px
  background rgba(240,230,220, .7)
  box-shadow 0 0 8px rgba(0, 0, 0, .7)
  &:last-of-type
    transform translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg)

.title
  width 50%
  padding 5%
  border-radius 5px
  background rgba(240,230,220, .7)
  box-shadow 0 0 8px rgba(0, 0, 0, .7)


#slide4.slide.header
  text-align center
  font-size 175%
  font-family "Roboto", sans-serif
    &.thick
      font-style bold
  color white
  text-shadow 0 2px 2px #000
  
#title.slide.header
  text-align right
  position relative
  font-size 300%
  font-family "Roboto", sans-serif
    &.thick
      font-style bold
  color white
  text-shadow 0 2px 2px #000
  

#title
  background-image: url(http://baltimoresportsandlife.com/wp-content/uploads/2016/07/Movies.jpg)
  background-attachment relative
  background-size 100% 100%
  
#slide1
  background-image url(http://dianechristiansen.com/wp-content/uploads/2016/09/bigstock-Cartoon-doodles-cinema-seamles-95212565-e1475017147555.jpg)
  z-index -1
  background-attachment relative
  background-size 100% 100%
  
#slide2
  background-image: url(https://the420times.com/wp-content/uploads/2014/07/movies.jpg)
  background-attachment relative
  background-size 100% 100% 
  
#slide3
  background-image: url(https://wallpapercave.com/wp/wp1896112.jpg)
  background-attachment relative
  background-size 100% 100% 
  
#slide4
  background-image url(http://www.twoo.com/blog/wp-content/uploads/2014/02/shutterstock_129276221.101903.jpg)
  background-attachment relative
  background-size 100% 100%
