@require "helpers"
@require "table"
@require "account"
@require "playlist"

#navbar
  position relative // as opposed to relative, fixed, etcs
  margin-bottom 50px
  top 0
  left 0
  width calc(100% - 40px)
  padding 20px
  background #379E51;
  
#navbar span
  color white
  font-size 2em
  text-transform uppercase
  font-family 'Futura', sans-serif
  
#nb-items
  float right
  text-align center
#nb-items *
  padding-left 20px
  
#nb-items a 
    text-decoration none

.error-message
    visibility hidden
    color red
    font-weight bold
    text-align left
    padding 1rem 0
.modal
    display none
    position fixed
    left 0
    top 0
    z-index 100
    width 100%
    height 100%
    overflow auto
    background-color #000
    background-color rgba(0, 0, 0, .5)
.modal-content
    max-width 90%
    margin 10% auto
    padding 2rem
    border 1px solid #888
    background-color white
    border-radius 5px
    text-align center

#item_img
  max-width: 100%;
  height: auto;

#column-size
  width 50px
  
#submit

  bottom 0 
  left 0 
  width 100%
  background blue
  padding 20px
  text-align center
  color white
  font-size 1.4em
  text-transform upper
  border none
#submit:hover
  opacity 0.8
  cursor pointer


text-color = #000 
mobile-width = 600px

body
  margin 0
  padding 0
  font-family sans-serif




