extends template

block content
	#navbar
		a(href='/')
			span CINEFY
		#nb-items
			a(href='/register')
				span register
			a(href='/browse')
				span browse
	.jumbotron
		.container
			.jumbotron-heading
				h1 Your Playlists
			.p
				span Check your own creations, and let imagination fly on new combinations of movies

			.p-link
				br
				br
				button#accountsubmit(type='button' onclick="location.href = '/create'") Create Playlist

	.album
		.album-container
			each movie in movies
				img.className(src=movie.poster)
