extends template

block content
	.jumbotron
		.container
			.jumbotron-heading
				h1 Your Playlists
			.p
				span Check your own creations, and let imagination fly on new combinations of movies

			.p-link
				br
				br
				button#newubmit(type='button' onclick="location.href = '/create'") Create Playlist

	.album
		.album-container
			img.className(src="https://i.ytimg.com/vi/wryzpBI7yLs/movieposter.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")
			
			img.className(src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDk3NTEwNjc0MV5BMl5BanBnXkFtZTgwNzYxNTMwMzI@._V1_UX182_CR0,0,182,268_AL_.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="https://images-na.ssl-images-amazon.com/images/I/81b%2BG%2BRIkkL._SY445_.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")
			
			img.className(src="https://upload.wikimedia.org/wikipedia/en/a/ab/La_La_Land_%28film%29.png" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="http://statics.livrariacultura.net.br/products/capas_lg/815/30361815.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")
			
			img.className(src="https://cdn.cinematerial.com/p/297x/09fkuq4j/tropa-de-elite-brazilian-movie-poster-md.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="http://is3.mzstatic.com/image/thumb/Video5/v4/f0/55/2f/f0552f81-b26b-c15c-9fa2-8e009cdf28d9/source/1200x630bb.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="http://img.moviepostershop.com/harry-potter-and-the-deathly-hallows-part-ii-movie-poster-2011-1010709870.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcyMTg0NjY3NF5BMl5BanBnXkFtZTcwODcwODAzMw@@._V1_SY1000_CR0,0,706,1000_AL_.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			img.className(src="https://images-na.ssl-images-amazon.com/images/I/51gR71V%2BjRL.jpg" style="float: left; margin-right: 20px; margin-bottom: 0.5em" height="300" width="200")

			