extends template

block content
	.jumbotron
		.container
			.jumbotron-heading
				h1 Your Playlists
			.p
				span Check your own creations, and let imagination fly on new combinations of movies

			.p-link
				a(href="#") Create Playlist
				br
				a(href="#") Check All Playlists
				br
				a(href="#") Delete Playlist

	.album
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="/w3images/lights.jpg">
						<img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
						<div class="caption">
							<p>Lorem ipsum...</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
			<a href="/w3images/nature.jpg">
			<img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
			<div class="caption">
			<p>Lorem ipsum...</p>
			</div>
			</a>
			</div>
			</div>
			<div class="col-md-4">
			<div class="thumbnail">
			<a href="/w3images/fjords.jpg">
			<img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
			<div class="caption">
			<p>Lorem ipsum...</p>
			</div>
			</a>
			</div>
			</div>
			</div>
		//- .gallery
		//- 	img(src="https://i.ytimg.com/vi/wryzpBI7yLs/movieposter.jpg" alt="The Breakfast Club")
		//- 	.desc
		//- 		span Add a description of the image here

		//- .gallery-1
		//- 	img(src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDk3NTEwNjc0MV5BMl5BanBnXkFtZTgwNzYxNTMwMzI@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Call Me By Your Name")
		//- 	.desc
		//- 		span Add a description of the image here