extends template 

//-block content
	#container 
		table#board 
			- for (i = 0; i < 3; i++)
				tr 
					- for (x = 0; x < 3; x++)
						- var index = (i * 3) + x 
						td-//

block content 
	#navbar
		a(href='/')
			span CINEFY
		#nb-items
			a(href='/register')
				span register
			a(href='/account')
				span my account
	block content 
	- var ratingAry = [{"rating":"1"},{"rating":"2"},{"rating":"3"},{"rating":"4"},{"rating":"5"},{"rating":"6"},{"rating":"7"},{"rating":"8"},{"rating":"9"},{"rating":"10"},{"rating":"0"},{"rating":"11"}]
	- var newAry = ratingAry.slice(0);
	- ratingAry.sort(function(a, b){
		- return b.rating-a.rating
	- })
	- for (var i = 0; i < ratingAry.length; i++) {
		- ratingAry[i].order = i
	- }
	.button-wrapper
		button#browsesubmit(type='button' onclick="location.href = '/create'") Create Playlist
	.button-wrapper
		button#high-to-low Top
		button#low-to-high New
		button#default Following
	form.search(action='')
			input#submit(value='', type='submit')
			label.submit(for='submit')
			a.icon(href='javascript: void(0)')
			input#search(type='search', name='Search', placeholder='Search')
	ul#grid
		each val, index in newAry
			li(class="sortable", data-order=val.order,data-default=index)
				i.fa.fa-picture-o.fake-image
				span.rating= "Playlist " + val.rating
	