extends template

block content
    .createplaylist
      .form
        .create-form
            .create-item
                input(type="text" placeholder="playlist name")
                input(type="text" placeholder="description")

                button(type='button' onclick='createPlaylist()') Add
