extends template

block content
    .createplaylist
      .form
        .create-form
            .create-item
                input(type="text" placeholder="playlist name")
                input(type="text" placeholder="movie 1")
                input(type="text" placeholder="movie 2")
                input(type="text" placeholder="movie 3")
                input(type="text" placeholder="movie 4")
                input(type="text" placeholder="movie 5")

                button(type='button' onclick='submitMovie') Add
