extends template

block content
	#navbar
		a(href='/')
			span CINEFY
		#nb-items
			a(href='/register')
				span register
			a(href='/login')
				span login
			a(href='/browse')
				span browse
			a(href='/account')
				span my account