extends template

block content 
	.initial-message

		h1 Create Playlist of your Favorite Movies

		img.indexImg(src="http://www.whittierfilm.org/wp-content/uploads/2017/02/watching-movies.jpg")
		

		img.indexImg(src="http://theaveryset.com/wp-content/uploads/2017/07/watchingmovie_16.jpg")

