extends template 
block content
	#title.slide.header
		h1 CINEFY
	#slide1.slide
		.title
			h1 Join for endless friends!
			button#indexsubmit(type='button' onclick="location.href = '/register'") Register
	#slide2.slide
		.title
			h1 Create a playlist of your favorite movies! 
			button#indexsubmit(type='button' onclick="location.href = '/login'") Login
		//-img(src='http://lorempixel.com/640/480/abstract/6/')
		//- img.indexImg(src="http://www.whittierfilm.org/wp-content/uploads/2017/02/watching-movies.jpg")
		//- img.indexImg(src="http://theaveryset.com/wp-content/uploads/2017/07/watchingmovie_16.jpg")
	#slide3.slide
		.title
			h1 Browse millions of movies!
			button#indexsubmit(type='button' onclick="location.href = '/browse'") Browse
	#slide4.slide.header
		h1 Contact us.


