extends template

block content 
	header 
	#content
		section#section-video
			.panel-inner
				h2 Connect.
		#section-wipes
			section#section-web.panel(style='background-color:mintcream;')
				p This content is going to get masked by the navbar when the slide is pinned.
				.panel-inner
					h2 Create.
			section#section-viking.panel(style='background-color:lightcyan;')
				.panel-inner
					h2 Browse.
			section#section-contact.panel(style='background-color:mediumseagreen;')
				.rslide-panel
					.rslide-handle
						.handle-link(data-target='contact')
							span.icon.ion-chevron-left
							span.icon.ion-chevron-left
							span.icon.ion-chevron-left
					.rslide-content
				.panel-inner
					h2 Contact us. 
			footer.panel
				h2 Enjoy!
