extends template

block content
    .login-page
      .form
        .login-form
            .lf-item
                input(type="text" placeholder="username")
                input(type="password" placeholder="password")
                button(type='button' onclick='submitLogin()') Login
                p
                    .message
                        span Not registered? 
<<<<<<< HEAD
                        a(href='google.com') Create an account
=======
                        a(href='google.com') Create an account
>>>>>>> 5e762bdd90bdac00784e08a1d1eb1720d79e2205
