extends template

block content
	#navbar
		a(href='/')
			span CINEFY
		#nb-items
			a(href='/register')
				span register
			a(href='/account')
				span my account
			a(href='/browse')
				span browse
	.movie-h1-css
			h1 Select the movies down below
			h1 and add to your playlist!

	.album
	
		.album-container

			
			// for movie in movies
			// 		pull poster
			//		pull id
			// onlclick gets add, create playlist, send to the backend

			each movie in movies
				img.className(src=movie.poster)

