extends template

block content
    #navbar
        a(href='/')
            span CINEFY
        #nb-items
            a(href='/browse')
                span browse
    #js-error-message.error-message
    .login-page
      .form
        .login-form
            .lf-item
                input(type="text" placeholder="Username")
                input(type="text" placeholder="Name")
                input(type='email' placeholder='example@gmail.com') 
                input(type='password' name='password' placeholder='Password')
                input(type='password' name='confirm' placeholder='Confirm Password') 
                button(type='button' onclick='submitUser()') Register

    .modal#js-success
        .modal-content
            h2 Thank you for registering!